.HomePage{
  overflow: auto;
}
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  color: $primary-color;
  height: 100vh;
  width: 100vw;
.main-folder{
  border:solid 1px $secondary-color;
  padding: 2%;
  border-radius: 25px;
}

  .project-list {
    display: inline-flex;
    justify-content: flex-start;
    padding: 3%;
    width: 100%;
    gap: 1%;
    height: 100%;
  }
  .folder {
      display: flex;
      justify-content: center;
      align-self: start;
      flex-direction: column;
      > .folder-icon {
        color: rgb(0, 173, 231);
        font-size: 200%;
        cursor: pointer;
      }
      > .folder-name {
        color: $sr-grey;
      }
    }
  .archives{
    position: absolute;
    top:5%;
    right: 5%;
  }
}
