@import "../../const";
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  color: $primary-color;
  .quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px $secondary-color;
    padding: 130px;
    border-radius: 5%;
    border: solid;
    max-width: 80%;
  }
  .quote-text {
    color: $secondary-color;

    > .quote {
      font-size: 300%;
    }

    > .author {
      font-size: 120%;

      .rosy {
        color: $rose-pastel;
      }
    }
  }

  .project-folder {
    > .folder {
      display: flex;
      justify-content: center;
      align-self: start;
      flex-direction: column;
      > .folder-icon {
        color: rgb(0, 173, 231);
        font-size: 200%;
        cursor: pointer;
      }
      > .folder-name {
        color: $sr-grey;
      }
    }
  }
  .project-modal {
    position : fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    height: calc(100vh - 100px);
    bottom: 80px;
    width: 95vw;
    .modal-header{
      position: absolute;
      top:0;
      left:0;
      background-color: rgba(144, 2, 255, 0.5);
      width: 100%;
      height: 5%;
      justify-content: space-between;
      display: flex;
      align-items: center;
      padding: 0 10px;
      border-bottom: 1px solid #ccc;
      z-index: 10;
      > .close-btn {
        background: red;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 50%;
      }
      > .close-btn:hover {
        background: darkred;
      }
      > .return-btn {
        background: orange;
        cursor: pointer;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 50%;
      } .return-btn:hover{
      background-color: darkorange;
              }
    }
    .modal-content {
      background: white;
      padding: 5%;
      border-radius: 0.25rem;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      position: relative;
      .project-folder{
        display:inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 3%;
      }
    }


  }
}
