@import '../../../styles/_color';

.zoom-section {
  position: relative;
  height: 500vh;

  @media (min-width: 1024px) {
    height: 1000vh;
  }

  .inner {
    position: sticky;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      background-color: currentColor;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 50%;
      transform: translateX(-50%) scaleX(var(--progress2));
      top: 0;
    }
  }

  .zoom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    transform: scale(calc(1 + var(--progress1) * 1.5));
    padding: 40px;

    @media (max-width: 768px) {
      padding: 16px;
    }
  }

  .first,
  .second {
    font-size: 18vh;
    font-weight: bold;
    width: 100%;
    text-align: center;
    transition: opacity 0.3s ease-out;
  }

  .first {
    transform: translateY(calc(var(--progress1) * -80%));
    .contrast {
      color: $rose-framboise;
    }
  }

  .second {
    transform: translateY(calc(var(--progress1) * 80%));
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(calc(1 + var(--progress1) * 1.5));
    transform-origin: center;
    opacity: calc(var(--progress1) * 2);
    text-align: center;
    font-size: 8vh;
    font-weight: bold;
  }

  .next-section {
    position: relative;
    height: 100vh;
    background-color: var(--text-color, black);
    transition: background-color 0.5s ease;
  }
}
