$primary-color : #5d1867;
$secondary-color : #ffc731 ;

$rose-framboise: #D81B60;
$rose-magenta: #C2185B;
$rose-fuchsia: #FF4081;
$rose-corail: #FF5C8D;
$rose-pastel: #F48FB1;
$rose-vif: #E91E63;

$sr-purple: #9300c5;
$sr-gold: 	#d4af37;
$sr-black: 	#3a363b;
$sr-grey: 	#aaa9ad;
$sr-accentuation: 	#bba58e;

$jaune-maman : #FFC300;