.parallaxTextContainer {
  height: calc(var(--length) * 100vh);
  width: 100vw;
  display: flex;

  flex-wrap: nowrap;
}
.spanText {
  padding: 1%;
  color: var(--text-color);
}
.stickyContent {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 5rem 0;

}

.parallaxTextTop,
.parallaxTextBottom {
  white-space: nowrap;
  font-size: 4vw;
  font-weight: bold;
  text-transform: uppercase;
  will-change: transform;
  position: absolute;
}

.parallaxTextTop {
  top: 10%;
}

.parallaxTextBottom {
  bottom: 10%;
}

.centerTextContainer {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 .centerTitle{
   display: flex;
   flex-wrap: nowrap;
 }
}


