
.about-page {
  cursor: none;
  .text-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    padding: 2%;
    background-color: var(--background-color , $primary-color);
    color: var(--text-color , $secondary-color);
    img {
      aspect-ratio: 1/1;
      height: 40%;
    }
  }


  .first-pres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 5%;
    gap: 5%;
    h1 {
      font-size: 3rem;
      color: white;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .tech-container {
    height: 100vh;
    position: relative;
  }

  .tech-pres {
    height: 100%;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tech-group {
    gap: 10%;
  }

  .tech-card {
    display: flex;
    width: 20vw;
    height: 20vh;
    flex: 0 0 auto;
    flex-shrink: 0;
    padding: 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 2px white;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.2);
    }

    h3 {
      margin-top: 20px;
      font-size: 32px;
      font-weight: bold;
      color: white;
    }

    .tech-icon {
      font-size: 100px;
      color: var(--icon-color, white);
    }
  }

  .interest-container {
    height: 120vh;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 100%;
  }

  .cv-section {
    background-color: $rose-vif;
    .CV {
      height: 75vh;
      width: 75vw;
    }
  }
}
