.MobileView {
  .MobilePresentation,
  .MobileProject,
  .MobileContact {
    h1,
    h2,
    h3 {
      font-size: xx-large;
    }
    p {
      font-size: large;
    }
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 100vh;
  }
  &:last-child {
    margin: 0 auto;
  }
  .illustration {
    aspect-ratio: 1/1;
    height: 25%;
  }
  .MobilePresentation {
    p {
      font-size: large;
      padding: 2%;
    }
    justify-content: space-evenly;
    height: 150vh;
    .skillsContainer {
      margin-top: 10%;
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .skillRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5%;
      margin-bottom: 10%;

      &.left {
        flex-direction: row;
        text-align: left;
      }

      &.right {
        flex-direction: row-reverse;
        text-align: right;
      }
    }

    .skillText {
      flex: 1;
      max-width: 50%;
      p {
        padding: 0 0 2% 0;
        font-size: large;
      }
      h3 {
        color: $rose-pastel;
        padding-bottom: 5%;
      }
    }

    .card {
      width: 150px;
      height: 150px;
      border: 2px solid $rose-corail;
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }

    .cardHeader {
      font-size: 2rem;
    }

    .cardContent {
      margin-top: 10px;
      font-weight: bold;
    }
  }
  .MobileProject {
    h2 {
      padding-bottom: 5%;
    }
  }
  .ProjectPresContainer{
    height: 100%;
    .ProjectPres{
      height: 100%;
    }

  }
  .ProjectLinksContainer{
    height: 100%;
    .ProjectLink{
      height: 100%;
    }
}
  .ProjecImgContainer{
    height: 100%;
    .ProjectImage{
      height: 100%;
    }
  }
}
