
.dock-navbar {
  position: fixed;
  bottom: 4%;
  left: 50%;
  z-index: 998;
  transform: translateX(-50%);
  background: $primary-color;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  gap: 20px;
  box-shadow: 0px 0px 5px $rose-pastel;
  backdrop-filter: blur(10px);

  .dock-item {
    font-size: 24px;
  }
  .icon-color{
    color: $secondary-color;
  }
}
