.asideScroll {
  margin-bottom: mobile-vw(160px);

  @include desktop {
    margin-bottom: desktop-vw(640px);
  }

  .sticky {
    grid-column: 9 / -1;

    @include desktop {
      color: $rose-pastel;
      position: sticky;
      top: 33%;
      align-self: start;
      grid-column: 3 / span 4;
      padding: desktop-vw(24px) desktop-vw(32px);
    }
  }
  .layoutGrid {
    @extend .layout-block;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-gap: 24px;
  }
  .asideContainer {
    grid-column: 1 / -1;

    @include desktop {
      grid-column:3 / 8;
      margin-top: desktop-vw(256px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: left;
    }
  }

  .asideChilds {
    &:not(:first-child) {
      margin-top: mobile-vw(120px);
    }

    @include desktop {
      width: columns(4);

      &:not(:first-child) {
        margin-top: desktop-vw(400px);
      }
    }

    .title {
      color: $rose-fuchsia;
      margin-bottom: mobile-vw(16px);

      @include desktop {
        margin-bottom: desktop-vw(24px);
      }
    }
  }
}
.layout-block {
  margin-left: auto;
  margin-right: auto;
}
