@import "../../../const.scss";
.horizontal-scroll-container{
  height:calc((var(--length) * 100vh ));
  background: var(--bg-color , $rose-framboise);
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.sticky-container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  gap: 2rem;
  padding: 4rem;
  flex-wrap: nowrap;
  width: max-content;
  overflow: hidden;
  white-space: nowrap;
}